// colors

$headerColor:black;
$bodyColor:grey;
$bodyDefColor: white;
$containerColor : #333745;
$contWidth: 90vw;


// font-sizes:-

$h1: 3.5vh;
$h2: 3vh;
$pAndLi : 2rem;
$marginL: 1rem;
$btnInp: 1.5rem;
$height : 7vh;
$height2: 3vh;

