<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> THIS IS {{user}} UPLOAD TEST PAGE </h1>
	<!-- <img src="{{img}}"> -->

<!-- 	<img src="file:///C:/Users/aryan/AppData/Local/Packages/CanonicalGroupLimited.Ubuntu16.04onWindows_79rhkp1fndgsc/LocalState/rootfs/home/aryan/CODING/Web_development/HTML_SCRIPTS/Nodejs/PROJECT_SEC/FILE_UPLOAD/uploads/upload_d9c9dea72f681e4284763c63039a8030.jpg"> -->

</body>
</html>