:root {
    --w: 1000px;
    --h: 20vh;
    
}
* {
    box-sizing: border-box;
}
/* width:var(--w) not working under .create and .myform*/
.main {
    display: flex;
    justify-content: center;
        width: 99vw;
        height: 80vh;


}

.create {
    width: 90%;
    height: 70vh;
    background: #e60099;
    opacity: 0.7;
    padding:20px;
    box-shadow: 5px 10px black;
    color: black;

}

.myForm {
    display: grid;
    grid-template-rows: 10vh 50vh;
    grid-gap: 2vh;
    grid-template-columns: 1fr;
}

.addRepDiv {
    display: grid;  
    grid-template-columns: minmax(50px,10vw) minmax(50px,10vw) minmax(200px,59vw) minmax(10px,3vw);
    align-items: center;
    grid-gap: 1vw;
    width: 100%;
}

.submitRepDiv {
    display: grid;
    grid-template-rows: 44vh 5vh;
    justify-content: center;
    grid-row-gap: 4vh;
}


.options,
.DateInput_input,
.btn1,
.DateInput, .DateInput_1 {
    background:#99d6ff;
    line-height: 10px;
    font-size: 2rem;
    padding:0;
    cursor: pointer;
    color: #3333ff;
    height: calc(var(--h)/4);
    
}

.textarea1:focus, .textarea1:focus {
    background: #cccccc;
}

.btn2 {
    width: 80vw;
    display: flex;
    justify-content: center;
     

} 

.btn2 button {
   background:#99d6ff;
   font-size: 2rem;
   cursor: pointer;
   color: #3333ff;
 
}


.textarea1 {
    font-size: 2rem;
    text-align: left;
    height: calc(var(--h)/4);
}

.textarea2 {
    font-size: 2rem;
    text-align: left;
   width: 80vw;

}

table,th,td {
    border: 1px solid black;
      border-collapse: collapse;

}



::placeholder {
    text-align: center;
    font-size: 2rem;
    cursor: pointer;

}



